h1
{
    color: rgba(216, 83, 12); 
    background-color: azure; 
    text-align: center;
    font-weight: 800;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}

h2
{
    color: rgb(216, 83, 12); 
    background-color: azure; 
    text-indent: 20px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

P
{
    color: rgba(0,0,0); 
    background-color: whitesmoke; 
    text-indent: 10%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.ingredient_list
{
    color: rgba(0,0,0); 
    background-color: whitesmoke; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.steps_list
{
    color: rgba(0,0,0); 
    background-color: whitesmoke; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}